:root {
  --ion-color-primary: #3b82f6;
  --ion-color-primary-rgb: 59, 130, 246;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3472d8;
  --ion-color-primary-tint: #4f8ef7;

  --ion-background-color: #f5f8fc;
  --ion-text-color: #1f2937;
}