ion-card {
  margin: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

ion-item {
  border-radius: 10px;
  margin-bottom: 5px;
}

ion-button {
  margin-top: 10px;
  --border-radius: 10px;
}
